@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-nav-option{
    display: flex;
    align-items: center;
}

.container-nav-option img{
    margin: 20px;
}

.nav-option ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 15px;
}

.nav-links{
    margin: 20px;
}

.nav-links .fa-solid{
    margin: 5px;
}

.nav-links{
    text-decoration: none;
    color: #747474;
}

.nav-links:hover{
    color: #161616;
}

.nav-user ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 15px;
}

.nav-user ul li:last-child{
    border: 2px solid #747474;
    border-radius: 10px;
    padding: 10px 5px;
}

.nav-user ul li:last-child:hover{
    border: 2px solid #161616;
}

.features{
    position: relative;
}

.dropdown{
    position: absolute;
    top: 40px;
}

.default{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px #E7E7E7;
    padding: 5px 10px;
    display: none;
}

.active{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px #E7E7E7;
    padding: 5px 10px;
}

.dropdown-select span{
    margin: 8px;
    color: #747474;
    font-size: 15px;
    cursor: pointer;
}

.dropdown-select span .fa-solid{
    margin-right: 10px;
} 

.dropdown-select span .fa-clipboard-list{
    color: #7571F0;
}
.dropdown-select span .fa-calendar-day{
    color: #52AED6;
}

.dropdown-select span .fa-bell{
    color: #EBD257;
}

.dropdown-select span .fa-clock{
    color: #8658A6;
}


main{
    display: flex;
    justify-content: space-around;
    margin: 25px 10px;
}

.container-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.container-text .text{
    width: 400px;
    margin-top: 100px;
}

.container-text h1{
    font-size: 60px;
    color: #161616;
    margin-bottom: 35px;
}

.container-text p{
    font-size: 18px;
    text-align: justify;
    color: #747474;
    line-height: 1.4;
    margin-bottom: 35px;
}

.container-text button{
    background-color: #161616;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: ease 0.8s;
}

.container-text button:hover{
    background-color: #fff;
    color: #161616;
    border: 1px solid #161616;
}

.container-text .clients img{
    margin: 10px;
}

.container-img img{
    width: 400px;
    height: 550px;
}